.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 42%, rgba(252,176,69,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.field-clock{
    background-color: rgba(0, 0, 0, 0.5);
    height: 30%;
    width: 60%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span{
    font-size: 100px;
    color: white;
    font-weight: 900;
    position: relative;
    font-family: "Righteous";
    text-align: center;
    width: 100px;
    display: inline-block;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}

#min::after{
    content: 'MINUTS';
}

#sec::after{
    content: 'SECONDS';
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: rgb(41, 41, 41);
    color: white;
    font-weight: bold;
}

#period{
    margin-left: 670px;
    position: absolute;
}
